@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400i,600,700';

@import 'https://fonts.googleapis.com/css?family=Vollkorn';

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #fff;
}


#hello {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}


::-webkit-scrollbar{
    width: 0px;
}


.title {
    color: #5d5d5d;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.content {
    padding: 1em 0.3em 1em 0.3em;
    margin: 0 auto;
    vertical-align: top;
    overflow: hidden;
}

.footer{
    padding: 0em 0.5em 0.5em 1em;
    bottom: 0;
    position: absolute;
}


h1{
    color: #5d5d5d;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 10px;
}


h2{
    color: #5d5d5d;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

h3{
    color: #5d5d5d;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 0px;
    text-align: center;
}

h4 {
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 0px;
    text-align: center;
}

a{
    color: #21BFE1;
    text-decoration: none;
}

a:visited{
    color: #1265B6;
    text-decoration: none;
}


p{
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
}


.hvr-grow {
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-property: transform;
  -webkit-transition-property: transform;

}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  filter: none;
  -webkit-filter: grayscale(0%); 
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/*#right {
    background-color: #f3f3f3;
    float: left;
    height: 100vh;
    margin: 0 auto;
    overflow-y: scroll;
    text-align:center;
    width: 10%;
} */

#left {
    background-color: #f3f3f3;
    height: 100vh;
    width: 100%;
    transition: margin-right .5s;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5em;
}

.sidenav a {
    color: #5d5d5d;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #5d5d5d;
}

.sidenav img{
    padding-top: 20px;
    width: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    padding-top: 20px;
}
