@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400i,600,700';


body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

#left{
    float: left;
    height: 100vh;
    overflow-y: scroll;
    width: 20%;
}

#right{
    background-color: #f3f3f3;
    float: left;
    height: 100vh;
    overflow-y: scroll;
    width: 80%;
}


::-webkit-scrollbar{
    width: 0px;
}


#hello {
    margin: 0 auto;
    width: 400px;
}

.title {
}

.content {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: top;
    width: 250px;
}


h1{
    color: #525957;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}


h2{
    color: #525957;
    font-size: 23px;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0;
}

h3{
    color: #525957;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 0px;
}

h4 {
    color: #525957;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
}

a{
    color: #7fbeb6;
    text-decoration: none;
}

a:visited{
    color: #1265B6;
    text-decoration: none;
}


p{
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: justify;
}

.container {
    margin: 0 auto;
    padding-top: 3em;
    text-align: center;
}

.hvr-grow {
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-property: transform;
  -webkit-transition-property: transform;
  vertical-align: middle;

}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  filter: none;
  -webkit-filter: grayscale(0%); 
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.button {
    background-color: none;
    border: none;
    color: none;
    display: inline-block;
    font-size: 16px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}


.containerRight {
    margin: 0 auto;
    padding: 0;
}

.info {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0em;
    width: 100%;
}

.box {
    color: #5d5d5d;
    height: 150px;
    float:left;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align:right;
    width: 300px;
}

#pennappsxv {
    margin: 0 auto;
    text-align: center;
    padding: 2em 0 5em 0;
}
#pennappsxiv {
    margin: 0 auto;
    padding: 2em 0 1em 0;
}

#pennappsxivContainer {
    display: inline-block;
}

#beforeDirector {
    padding: 5em 0 2em 0;
    text-align:center;
    width: 100%;
}

#stickers {
    margin: 0 auto;
    padding: 1em 1em 1em 1em;
    width: 500px;
}

#tshirts {
    padding: 1em 1em 1em 1em;
}
