@media (max-width: 1100px) {

#hello{
    padding: 3em 0 0 0;
}

    
.bodySection {
    padding: 2em 2em 2em 2em;
    overflow-x: hidden;
}
    
#workList {
    padding: 1em 0em 0em 0em ;
    column-count: 1;
    width: 40em;
}

    
#title {
    padding: 5em 0em 2em 0em;
}
    
    
}

@media (max-width: 450px) {
    
    
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}


#hello{
    padding: 0;
}
    
#helloBar{
        width: 20em;
}
    
#helloText {
    padding: 0;
    float: left;
    width: 20em;
}

#helloPara {
    width: 20em;
    float: left;
    text-align: left;
    padding-left: 2em;
}

    
.bodySection {
    padding: 2em 2em 2em 2em;
    overflow-x: hidden;
}
    
#workList {
    padding: 1em 0em 0em 0em ;
    column-count: 1;
    width: 20em;
}

#title {
    padding: 5em 2em 2em 2em;
}


#flower {
    padding: 1em 0 0 1em;
}
