@import 'https://fonts.googleapis.com/css?family=Open+Sans:300i,400i,600,700';

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#left{
    width: 50%;
    float: left;
    height: 50em;
    overflow: scroll;
    padding-top: 0px;
    background-color: #f3f3f3;
    
}

#right{
    width: 50%;
    float: left;
    height: 50em;
    overflow: scroll;
    background-color: #f3f3f3;
}

#right img{
    width: 100%;
    height: auto;
}

::-webkit-scrollbar{
    width: 0px;
}

.header {
    padding: 5em 5em 1em 5em;
}

.intro {
    padding: 0em 5em 0em 5em;
}

.pictures{
    padding: 0em 5em 0em 0em;
}

h1{
    color: #3D5A6C;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    letter-spacing: 1px;
}

h2{
    color: #3D5A6C;
    font-size: 15px;
    text-align: left;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 30px;
}

p{
    color: #3D5A6C;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

